

/* @font-face {
font-family:"minion-pro-display";
src:url("/fonts/minion-pro-display.woff2") format("woff2"),url("/fonts/minion-pro-display.woff") format("woff"),url("/fonts/minion-pro-display.opentype") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}
*/

@font-face {
font-family:"minion-pro";
src:url("/fonts/minion-pro.woff2") format("woff2"),url("/fonts/minion-pro.woff") format("woff"),url("/fonts/minion-pro.opentype") format("opentype");
/*font:auto;*/
font-style:normal;
font-weight:700;
font-display: auto;
}



body {
  margin:3em 2em 2em 2em;
  font-size: 100%;
  font-size: 4.2vw;
  font-family: sans-serif;
}

#content {
  width: 85vw;
}

p {
  width: 50vw;
  line-height: 1.2em;
}

a, a:hover, a:visited {
  text-decoration: inherit;
  color:inherit;
}

/* szalonlogo and szref are the styled logos
   the index-number must be enclosed in a <span>-tag.
 */

h1.szalonlogo {
  font-family:minion-pro;
  font-size: 15vw;
}

h1.szalonlogo > span {
  font-size:9vw;
  vertical-align:5vw;
  display:inline;
}

div.szref {
  text-align:center;
  font-family:minion-pro;
  font-size: 10vw;
  cursor: pointer;
}

div.szref > span {
  font-size:6vw;
  vertical-align:1.6vw;
  display:inline;
}



.hidden {
  display: none;
/*
  visibility: hidden;
   opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
  */
}

div.onDisplay+div.szref {

  display: none;
}
